@import "tailwindcss";

@theme {
  --color-background: #faf9f6;
  --color-surface: #ffffff;
  --color-primary: #40b37c;
  --color-primary-hover: #379c6c;
  --color-primary-ring: #8edbb7;

  --color-secondary: #40b37c;
  --color-secondary-hover: #2f8a60;
  --color-secondary-ring: #2a4d3a;

  --color-foreground: #2b2d42;
  --color-muted: #6c757d;
  --color-border: #e0e0e0;

  --color-warning: #facc15;
  --color-warning-hover: #eab308;
  --color-warning-ring: #fde68a;

  --color-danger: #dc2626;
  --color-danger-hover: #b91c1c;
  --color-danger-ring: #fca5a5;
}

@layer base {
  [data-theme="dark"] {
    --color-background: #1a1a1d;
    --color-surface: #242429;
    --color-primary: #40b37c;
    --color-primary-hover: #2f8a60;
    --color-primary-ring: #2a4d3a;

    --color-secondary: #40b37c;
    --color-secondary-hover: #2f8a60;
    --color-secondary-ring: #2a4d3a;

    --color-foreground: #f1f1f1;
    --color-muted: #a9a9b3;
    --color-border: #33343a;

    --color-warning: #eab308;
    --color-warning-hover: #ca8a04;
    --color-warning-ring: #854d0e;

    --color-danger: #ef4444;
    --color-danger-hover: #dc2626;
    --color-danger-ring: #7f1d1d;
  }
}
